.caixa {
  width: 600px;
  height: 300px;
  padding: 50px 50px 50px 15px;
  background: #ffffff;
  border: none;
  border-radius: 15px;
  box-shadow: 0 5px 20px rgba(15, 90, 151, 0.699);
  text-align: center;
  display: flex;
  align-items: center;
  gap: 2px;
  animation: fadeIn 1.0s ease-in;
}
body {
  display: flex;
  background: #8bb3ff;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}

.imgy {
  transition: transform 0.3s ease;
}

.imgy:hover {
  transform: scale(1.1);
}


@font-face {
  font-family: Outlinerz;
  src: url('fonts/Outlinerz.otf') format('opentype');
}

.out {
  font-family: Outlinerz, sans-serif;
  font-size: 24px;
}

@font-face {
  font-family: 'KGMissSteward';
  src: url('fonts/KGMissSteward.otf') format('opentype');
}

.miss {
  font-family: 'KGMissSteward', sans-serif;
  font-size: 16px;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  background-color: #0c3052bb;
  border: none;
  border-radius: 5px;
  box-shadow: #4d0313;
  
  cursor: pointer;
}

.button:hover {
  background-color: #397ab8;
  transform: translateY(5px);
  transition: transform 0.3s ease;
}

@keyframes fadeIn {  
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
